.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.about p {
  text-align: center;
  max-width: 500px;
  margin: 0 auto 1.5em;
  line-height: 1.4;
}
