.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #222;
  height: 80px;
  border-top: 3px solid #111;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer span {
  font-weight: bold;
}
